
/*
1.- Posicionamiento.
2.- Modelo de caja (Box model).
3.- Tipografía.
4.- Visuales
5.- Otros.
*/
:root {
/* Colores */
    --blue-strong: #324763;
    --medium-blue: #1357B2;
    --light-blue: #7FA4D7
    --black: #282623;
    --grey: #bababa;
    --just-white: #fff;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellowgreen; */
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
.section {
    background-color: var(--blue-strong);
    height: 667px;
    width: 375px;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: var(--just-white)
}

/* header */

header {
    background-color: var(--blue-strong);
    height: 50px;
}



/* Principal */

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal--photo {
    background-color: whitesmoke;
    height: 100px;
    width: 100px;
}

.principal--text {
    display: flex;
    flex-direction: column;
}

.principal--text h1 {
    text-align: center;
}

/* Introduction */

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction div {
    padding: 20px;
}

h2 {
    text-align: center;
}

/* Skils */

/* #skills{
    padding: 20px;
} */

.item1{background:LightSkyBlue;}
.item2{background:LightSalmon;}
.item3{background:PaleTurquoise;}
.item4{background:LightPink;}
.item5{background:PaleGreen;}

.grid-container {
    display: grid;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

/* Portfolio */

.portfolio--container{
    display: flex;
    flex-direction: column;
}

.project {
    height: auto;
    max-height: 400px;
    min-width: 340px;
    max-width: 600px;
    background-color: var(--medium-blue);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project h3 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

.project p{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5px;
}

.project--caption {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    outline: white solid 2px;
}

.project--subcontainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 280px;
    margin-top: 20px;
}

.project--button{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 125px;
    outline: white solid 3px;
}


/* Contact */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    top: 23px;
    background-color: var(--blue-strong);
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin-top: 15px;
    align-items: baseline;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
}

.formulario input, form textarea {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px;
    background-color: transparent;
    outline: none;
    font-weight: 700;
    margin: 10px 0;
}

#submit {
    margin: 10px auto;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
}

/* Footer */
.nav--footer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.nav--footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.nav--footer ul li {
    list-style: none;
}

footer div p {
    display: flex;
    align-content: center;
    justify-content: center;
}
