
@media screen and (min-width: 375px) {
    /* header */
    /* Style the navigation menu */
    .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    padding: 0px;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
    display: none;
    }
    
    /* Style navigation menu links */
    .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    /* Style the active link (or home/logo) */
    .active {
    background-color: var(--blue-strong);
    color: white;
    }
    
    /* skills */

    #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 40px 5%;
    }

    .grid-container {
        display: grid;
        min-height: 400px;
        width: 100%;
        background: var(--gray);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 5px;
    }

    #item--layer{
        width: auto;
        height: auto;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(18,18,18,0.804359243697479) 45%, rgba(43,43,43,0.5942752100840336) 70%, rgba(255,255,255,0) 100%);
        transition: all 0.3s ease-in-out 0s ; 
        opacity: 0%;
        text-align: center;
        font-size: 1.2em;
        font-weight: 300;
        color: var(--just-white);
    }
    #item--layer p{
        position: relative;
        top: 75%;
    }
    
    #item--layer:hover{
        opacity: 1;
    }
 
}